body{
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
	background-size: auto;
	border-radius: 0px;	
}
body:hover{
	animation: animate 8s linear infinite;
}
@keyframes animate {
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}
:before
{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
	background-size: 400%;
	border-radius: 40px;

	filter: blur(10px);	
	opacity: 1;
	animation: animate 8s linear infinite;
}

.wrapper{
	text-align: center;
}
.button{
	font-size: 25px;
	background-color: white;
	color: red;
	border:2px solid #f44336;
	position: absolute;
	top:50%;
	left: 43%;
}